* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ddd;
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
    background-color: white;
    margin-top: 20px;
    display: flex;
}

aside {
    width: 300px;
    background-color: #f7f9fc;
}

.p-aside {
    padding-left: 36px;
    padding-right: 36px;
}

.gap-aside {
    padding-top: 20px;
    padding-bottom: 24px;
}

.clr-primary {
    color: #9251f7;
}

.bg-primary-light {
    background-color: #efe2f9;
}

.clr-secondary {
    color: #516cf7;
}

.bg-secondary-light {
    background-color: #e1e7fe;
}

.aside-divider {
    margin: 0 36px;
    border-bottom: solid 2px #ddd;
}

aside .heading {
    font-size: 12px;
    font-weight: 400;
    color: #79819a;
    margin-bottom: 16px;
}

main {
    flex: 1;
}

aside .avatar {
    width: 264px;
    height: 160px;
    object-fit: cover;
    margin-top: 30px;
    border-radius: 0 12px 12px 0px;
}

aside .main-info {
    padding-top: 24px;
    padding-bottom: 24px;
}

aside .main-info .name {
    font-size: 22px;
    font-weight: 500;
    color: #2e2e48;
}

aside .main-info .position {
    font-size: 20px;
    font-weight: 500;
    color: #9251f7;
    margin-top: 8px;
}

aside .contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

aside .contact-item:last-child {
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

aside .contact-item .icon {
    border-radius: 9999px;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e2e6ee;
    color: #79819a;
}

aside .contact-item .label-and-value {
    padding-left: 16px;
}

aside .contact-item .label {
    font-size: 12px;
    color: #79819a;
}

aside .contact-item .value {
    font-size: 14px;
    color: #47516b;
    font-weight: 500;
}

aside .skill-group .small-group-heading {
    display: flex;
    align-items: center;
    font-weight: 600;
    color: #2e2e48;
}

aside .skill-group .small-group {
    margin-bottom: 20px;
}

aside .skill-group .small-group-heading p {
    padding-left: 8px;
}
aside .skill-group .small-group-heading .icon {
    width: 24px;
    height: 24px;
    border-radius: 9999px;
    display: flex;
    justify-content: center;
    align-items: center;
}

aside .skill-group .small-group-content {
    padding-left: 40px;
    color: #47516b;
    padding-top: 8px;
    font-size: 14px;
    line-height: 22px;
}

main {
    padding: 40px 36px;
}

section {
    display: flex;
}

.section-content {
    padding-left: 36px;
    padding-bottom: 36px;
    flex: 1;
}

.section-decor {
    border-left: solid 2px #e2e6ee;
    position: relative;
}

.section-decor .circle {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-50%);
    background-color: white;
    border-radius: 9999px;
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}

.section-decor .circle-inner {
    background-color: #9251f7;
    border-radius: 9999px;
    width: 8px;
    height: 8px;
}

section .heading {
    font-size: 20px;
    font-weight: 500;
    color: #2e2e48;
    margin-bottom: 20px;
}

main .overview-section {
    font-size: 14px;
    color: #47516b;
}

main .projects-section {
    display: flex;
    flex-wrap: wrap;
    margin: -8px -4px;
}

main .projects-section .project-card {
    width: 50%;
    padding: 8px 4px;
}

main .projects-section .project-card-content {
    background-color: #f7f9fc;
    border-radius: 8px;
    overflow: hidden;
}

main .projects-section .project-card img {
    width: 100%;
    height: 160px;
    object-fit: cover;
}

main .projects-section .project-card .project-card-info {
    padding: 12px 20px;
}

main .projects-section .project-card .project-card-name {
    font-size: 14px;
    font-weight: 500;
    color: #2e2e48;
    margin-bottom: 4px;
}

main .projects-section .project-card .project-card-description {
    font-size: 12px;
    color: #47516b;
    margin-bottom: 8px;
}

main .projects-section .project-card .project-card-link-wrapper {
    display: flex;
    align-items: center;
    color: #516cf7;
}

main .projects-section .project-card .project-card-link-wrapper .icon {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 999px;
    background-color: #e1e7fe;
}

main .projects-section .project-card .project-card-link {
    font-size: 14px;
    text-decoration: none;
    padding-left: 8px;
}
